<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>jQuery UI Demos</title>
</head>
<body>

<ul>
	<li><a href="./demo/page/accordion/">accordion</a></li>
	<li><a href="./demo/page/addClass/">addClass</a></li>
	<li><a href="./demo/page/animate/">animate</a></li>
	<li><a href="./demo/page/autocomplete/">autocomplete</a></li>
	<li><a href="./demo/page/button/">button</a></li>
	<li><a href="./demo/page/datepicker/">datepicker</a></li>
	<li><a href="./demo/page/dialog/">dialog</a></li>
	<li><a href="./demo/page/draggable/">draggable</a></li>
	<li><a href="./demo/page/droppable/">droppable</a></li>
	<li><a href="./demo/page/effect/">effect</a></li>
	<li><a href="./demo/page/hide/">hide</a></li>
	<li><a href="./demo/page/menu/">menu</a></li>
	<li><a href="./demo/page/position/">position</a></li>
	<li><a href="./demo/page/progressbar/">progressbar</a></li>
	<li><a href="./demo/page/removeClass/">removeClass</a></li>
	<li><a href="./demo/page/resizable/">resizable</a></li>
	<li><a href="./demo/page/selectable/">selectable</a></li>
	<li><a href="./demo/page/show/">show</a></li>
	<li><a href="./demo/page/slider/">slider</a></li>
	<li><a href="./demo/page/sortable/">sortable</a></li>
	<li><a href="./demo/page/spinner/">spinner</a></li>
	<li><a href="./demo/page/switchClass/">switchClass</a></li>
	<li><a href="./demo/page/tabs/">tabs</a></li>
	<li><a href="./demo/page/toggle/">toggle</a></li>
	<li><a href="./demo/page/toggleClass/">toggleClass</a></li>
	<li><a href="./demo/page/tooltip/">tooltip</a></li>
	<li><a href="./demo/page/widget/">widget</a></li>
</ul>

</body>
</html>
