<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>jQuery UI Accordion Demos</title>
</head>
<body>

<ul>
	<li><a href="./default">Default functionality</a></li>
	<li><a href="./fillspace">Fill space</a></li>
	<li><a href="./no-auto-height">No auto height</a></li>
	<li><a href="./collapsible">Collapse content</a></li>
	<li><a href="./hoverintent">Open on hoverintent</a></li>
	<li><a href="./custom-icons">Customize icons</a></li>
	<li><a href="./sortable.html">Sortable</a></li>
</ul>

</body>
</html>
